@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
:root {
    --vertical-space: 2rem;
    --horizontal-space: 3rem;
    --light-color: #F2F2F2;
    --body-color: #404040;
    --heading-color: #3d33de;
    --contrast-color: #9b33de;

}



body {
    /* padding-left: 4em; */
    font-size: 18px;
    line-height: 1.5;
}

h1, h2, h3 {
    line-height: 1.2;
    font-family: 'Satisfy';
    color:var(--heading-color);
}

#nameHeader {
    color:var(--light-color);
}

a {
    color: var(--light-color);
    text-decoration-color: var(--contrast-color);
}

a:hover {
    color: var(--contrast-color);
}

body#about img {height: 15em}

p {
    max-width: 50em;
}

main {
    background-color: rgba(242, 242, 242, 0.4);
}

body {
    display: grid;
    grid-template-areas: "head head" "nav nav" "main main" "foot foot";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto 1fr auto;

    background-color: var(--heading-color);
    background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    color: var(--body-color);
}

@media screen and (min-width: 25em) {
    body {
        grid-template-areas: "head head" "nav main" "foot foot";
        grid-template-columns: 1fr 4fr;
        grid-template-rows: auto 1fr auto;
    }
}

body > * {
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
}

body > header {
    grid-area: head;
    /* background-color: yellow; */
}
body > nav {
    grid-area: nav;
    /* background-color: blue; */
}

body > nav ul {
    list-style-type: none;
    padding: 0;
}

/* body > nav ul li {
    display: inline;
    padding-right: 1rem;
} */

body > main {
    grid-area: main;
    /* background-color: purple; */
}
body > footer {
    grid-area: foot;
    /* background-color: red; */
}

header, footer {
    padding-top: var(--vertical-space);
    padding-bottom: var(--vertical-space);
}
header h1, footer h1 {
    margin: 0;
}

body#portfolio ul#portfolioItems {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
}

body#portfolio ul#portfolioItems li {
    flex-basis: 48%;
    padding-right: 2%;
}

@media screen and (min-width: 25em) {
    body#portfolio ul#portfolioItems li {
        flex-basis: 48%;
        padding-right: 2%;
    }
}

body#portfolio ul#portfolioItems li img {
    max-width: 100%;
}