<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
  <link rel="stylesheet" href="styles/bootstrap-material-design.min.css">
  <link rel="stylesheet" href="styles/main.css">
  <title>My Movie Quotes</title>
</head>

<body>
  <nav class="navbar navbar-dark fixed-top">
    <a class="navbar-brand" href="#">My Movie Quotes</a>

    <div class="dropdown">

      <!--Trigger-->
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="material-icons">more_vert</i>
      </button>

      <!--Menu-->
      <div class="dropdown-menu dropdown-primary">
        <a class="dropdown-item" href="#" data-toggle="modal"><i class="material-icons">people</i>&nbsp;&nbsp;&nbsp;Show All Quotes</a>
        <a class="dropdown-item" href="#" data-toggle="modal"><i class="material-icons">person</i>&nbsp;&nbsp;&nbsp;Show My Quotes</a>
        <a class="dropdown-item" href="#" data-toggle="modal"><i class="material-icons">login</i>&nbsp;&nbsp;&nbsp;Log Out</a>
      </div>
    </div>

  </nav>




  <div id="listPage" class="container page-container">

    <!-- <a class="btn btn-primary btn-lg btn-floating" style="background-color: #ac2bac;" href="#!" role="button">
      <i class="fab fa-instagram"></i>
    </a> -->

    <div id="quoteListContainer">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>



    <button id="fab" type="button" class="btn bmd-btn-fab" data-toggle="modal" data-target="#addQuoteDialog">
      <i class="material-icons">add</i>
    </button>

    <!-- modal -->
    <div class="modal fade" id="addQuoteDialog" tabindex="-1" role="dialog" aria-labelledby="Add quote dialog"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Movie Quote</h5>
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button> -->
          </div>
          <div class="modal-body">

            <!-- Name input -->
            <div class="form-outline mb-4 bmd-form-group">
              <label class="bmd-label-floating" for="inputQuote">Quote</label>
              <input type="text" id="inputQuote" class="form-control" />
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4 bmd-form-group">
              <label class="bmd-label-floating" for="inputMovie">Movie</label>
              <input type="text" id="inputMovie" class="form-control" />
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="submitAddQuote">CREATE</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <script src="scripts/jquery.min.js"></script>
  <script src="scripts/popper.js"></script>
  <script src="scripts/bootstrap-material-design.js"></script>
  <script>$("body").bootstrapMaterialDesign();</script>
  <script src="/__/firebase/7.18.0/firebase-app.js"></script>
  <script src="/__/firebase/7.18.0/firebase-analytics.js"></script>
  <script src="/__/firebase/7.18.0/firebase-firestore.js"></script>
  <script src="/__/firebase/7.18.0/firebase-auth.js"></script>
  <script src="/__/firebase/init.js"></script>
  <script src="scripts/main.js"></script>

</body>

</html>