<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
  <link rel="stylesheet" href="styles/bootstrap-material-design.min.css">
  <link rel="stylesheet" href="styles/main.css">
  <title>Movie Quote</title>
</head>

<body>
  <nav class="navbar navbar-dark fixed-top">
    <a class="navbar-brand" href="/">Movie Quote</a>

    <!--Dropdown primary-->
    <div class="dropdown">

      <!--Trigger-->
      <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="material-icons">more_vert</i>
      </button>

      <!--Menu-->
      <div class="dropdown-menu dropdown-primary">
        <a class="dropdown-item" id="menuEdit" href="#" data-toggle="modal" data-target="#editQuoteDialog"><i class="material-icons">edit</i>&nbsp;&nbsp;&nbsp;Edit</a>
        <a class="dropdown-item" id="menuDelete" href="#" data-toggle="modal" data-target="#deleteQuoteDialog"><i class="material-icons">delete</i>&nbsp;&nbsp;&nbsp;Delete</a>
        <a class="dropdown-item" id="menuSignOut" type="button"><i class="material-icons">login</i>&nbsp;&nbsp;&nbsp;Sign Out</a>
      </div>
    </div>
    <!--/Dropdown primary-->




  </nav>
  <div id="detailPage" class="container page-container">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">loading...</h5>
        <p class="card-text"></p>
      </div>
    </div>

    <!-- <a class="btn btn-primary btn-lg btn-floating" style="background-color: #ac2bac;" href="#!" role="button">
      <i class="fab fa-instagram"></i>
    </a> -->







    <!-- modal -->
    <div class="modal fade" id="editQuoteDialog" tabindex="-1" role="dialog" aria-labelledby="Edit quote dialog"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit this movie quote</h5>
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button> -->
          </div>
          <div class="modal-body">

            <!-- Name input -->
            <div class="form-outline mb-4 bmd-form-group">
              <label class="" for="inputQuote">Quote</label>
              <input type="text" id="inputQuote" class="form-control" placeholder="" />
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4 bmd-form-group">
              <label class="" for="inputMovie">Movie</label>
              <input type="text" id="inputMovie" class="form-control" placeholder="" />
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="submitEditQuote">UPDATE</button>
          </div>
        </div>
      </div>
    </div>




    <div class="modal fade" id="deleteQuoteDialog" tabindex="-1" role="dialog" aria-labelledby="Delete quote dialog"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete this quote</h5>
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button> -->
          </div>
          <div class="modal-body">

            Are you sure you want to delete this movie quote?

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="submitDeleteQuote">DELETE</button>
          </div>
        </div>
      </div>
    </div>




  </div>
  <script src="scripts/jquery.min.js"></script>
  <script src="scripts/popper.js"></script>
  <script src="scripts/bootstrap-material-design.js"></script>
  <script>$("body").bootstrapMaterialDesign();</script>
  <script src="/__/firebase/7.18.0/firebase-app.js"></script>
  <script src="/__/firebase/7.18.0/firebase-analytics.js"></script>
  <script src="/__/firebase/7.18.0/firebase-firestore.js"></script>
  <script src="/__/firebase/7.18.0/firebase-auth.js"></script>
  <script src="/__/firebase/init.js"></script>
  <script src="scripts/main.js"></script>
</body>

</html>