<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
  <link rel="stylesheet" href="styles/bootstrap-material-design.min.css">
  <link rel="stylesheet" href="styles/main.css">
  <title>Photo</title>
</head>

<body>
  <nav class="navbar navbar-dark fixed-top">
    <a class="navbar-brand" href="/">Photo</a>

    <!--Dropdown primary-->
    <div class="dropdown">

      <!--Trigger-->
      <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="material-icons">more_vert</i>
      </button>

      <!--Menu-->
      <div class="dropdown-menu dropdown-primary">
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#editUrlDialog"><i
            class="material-icons">edit</i>&nbsp;&nbsp;&nbsp;Edit</a>
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#deleteUrlDialog"><i
            class="material-icons">delete</i>&nbsp;&nbsp;&nbsp;Delete</a>
      </div>
    </div>
    <!--/Dropdown primary-->

  </nav>
  <div id="mainPage" class="container page-container">



    <div id="detailPage" class="row align-items-center">




      <div class="pin col" id="picPin">
        <img src="" alt="" class="detail-image">
        <p class="caption">Loading...</p>
      </div>


      <!-- modal -->
      <div class="modal fade" id="editUrlDialog" tabindex="-1" role="dialog" aria-labelledby="Edit url dialog"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit this Picture</h5>
              <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
            </div>
            <div class="modal-body">

              <!-- url input -->
              <div class="form-outline mb-4 bmd-form-group">
                <label class="" for="inputUrl">URL</label>
                <input type="text" id="inputUrl" class="form-control" placeholder="" />
              </div>

              <!-- caption input -->
              <div class="form-outline mb-4 bmd-form-group">
                <label class="" for="inputCaption">Caption</label>
                <input type="text" id="inputCaption" class="form-control" placeholder="" />
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" id="submitEditURL">UPDATE</button>
            </div>
          </div>
        </div>
      </div>

    </div>






    <div class="modal fade" id="deleteUrlDialog" tabindex="-1" role="dialog" aria-labelledby="Delete url dialog"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete this Picture</h5>
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button> -->
          </div>
          <div class="modal-body">

            Are you sure you want to delete this Picture?

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="submitDeleteUrl">DELETE</button>
          </div>
        </div>
      </div>
    </div>


  </div>
  <script src="scripts/jquery.min.js"></script>
  <script src="scripts/popper.js"></script>
  <script src="scripts/bootstrap-material-design.js"></script>
  <script>$("body").bootstrapMaterialDesign();</script>
  <script src="/__/firebase/7.18.0/firebase-app.js"></script>
  <script src="/__/firebase/7.18.0/firebase-analytics.js"></script>
  <script src="/__/firebase/7.18.0/firebase-auth.js"></script>
  <script src="/__/firebase/7.18.0/firebase-firestore.js"></script>
  <script src="/__/firebase/init.js"></script>
  <script src="scripts/main.js"></script>
</body>

</html>